[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
rust-version = "1.85"
publish = false

[dependencies]
anyhow = "1.0"
indoc = "2.0.7"
regex = "1.12.2"
serde = { version = "1.0.228", features = ["derive"] }
toml = "0.9.11"
walkdir = "2.5"
